---
layout: default
home: true
title: Bicycling enthusiast and Ruby/Rails developer @ <a href="http://twinenginelabs.com" alt="Twin Engine Labs" title="Twin Engine Labs"><img width="247" height="60" alt="Twin Engine Labs" title="Twin Engine Labs" src="/images/twinenginelogo.png" /></a>, Shreveport, LA.
excerpt: Mike Mayo; Bicycling enthusiast and Ruby/Rails developer @ Twin Engine Labs, Shreveport, LA.
---

{% for post in site.posts limit:10 %}
  <div class="post">
    <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
    <p class="date">{{ post.date | date_to_string }}
      {% if post.author %}
        by <a href="http://twitter.com/{{ post.author.twitter }}" title="{{ post.author.full}}">@{{ post.author.twitter }}</a>
      {% endif %}
    </p>
    <p>{{ post.excerpt }}</p>
  </div>
{% endfor %}